In [40]:
import numpy as np
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt
from sklearn import preprocessing
from kmodes.kprototypes import KPrototypes

In [30]:
%store -r

In [31]:
df.head()

,age,annual_income,country,duolingo_platform,duolingo_subscriber,duolingo_usage,employment_status,gender,primary_language_commitment,primary_language_review,...,primary_language_proficiency,student,used_other_resources,highest_course_progress,took_placement_test,purchased_subscription,n_days_on_platform,has_daily_goal,pct_days_active,log_lessons_per_day
user_id,,,,,,,,,,,,,,,,,,,,,
35c9fc6e72c911e99681dca9049399ef,18-34,"$26,000 - $75,000",JP,Android phone or tablet,"No, I have never paid for Duolingo Plus",Daily,Employed full-time,Male,I'm very committed to learning this language.,I am using Duolingo to review a language I've ...,...,Advanced,Not currently a student,True,58.0,True,False,849.0,False,0.938144,0.935878
35c9fdde72c911e98630dca9049399ef,18-34,"$26,000 - $75,000",JP,iPhone or iPad,"No, I have never paid for Duolingo Plus",Weekly,Employed full-time,Male,I'm slightly committed to learning this language.,I am using Duolingo to review a language I've ...,...,Intermediate,Not currently a student,True,4.0,True,False,125.0,True,0.556701,0.510826
35c9feb072c911e9ab4cdca9049399ef,18-34,"$76,000 - $150,000",JP,iPhone or iPad,"Yes, I currently pay for Duolingo Plus",Daily,Employed full-time,Male,I'm moderately committed to learning this lang...,I am using Duolingo to review a language I've ...,...,Beginner,Not currently a student,True,11.0,False,True,479.0,False,0.309278,0.490623
35c9ff7072c911e9900ddca9049399ef,18-34,"$76,000 - $150,000",JP,iPhone or iPad,"No, but I have previously paid for Duolingo Plus",Daily,Employed full-time,Female,I'm very committed to learning this language.,I am using Duolingo to learn this language for...,...,Intermediate,Not currently a student,True,11.0,False,True,117.0,True,0.958763,2.524437
35ca002672c911e99effdca9049399ef,35 - 54,"$76,000 - $150,000",JP,Android phone or tablet,"Yes, I currently pay for Duolingo Plus",Daily,Employed full-time,Male,I'm very committed to learning this language.,I am using Duolingo to learn this language for...,...,Intermediate,Not currently a student,True,64.0,False,True,1951.0,False,0.876289,0.927987

In [32]:
df_norm = df.copy()
scaler = preprocessing.MinMaxScaler()
df_norm[['highest_course_progress', 'n_days_on_platform', 
         'pct_days_active', 'log_lessons_per_day'
        ]] = scaler.fit_transform(df_norm[['highest_course_progress',
        'n_days_on_platform', 'pct_days_active', 'log_lessons_per_day'
       ]])

In [34]:
df_norm.head()

,age,annual_income,country,duolingo_platform,duolingo_subscriber,duolingo_usage,employment_status,gender,primary_language_commitment,primary_language_review,...,primary_language_proficiency,student,used_other_resources,highest_course_progress,took_placement_test,purchased_subscription,n_days_on_platform,has_daily_goal,pct_days_active,log_lessons_per_day
user_id,,,,,,,,,,,,,,,,,,,,,
35c9fc6e72c911e99681dca9049399ef,18-34,"$26,000 - $75,000",JP,Android phone or tablet,"No, I have never paid for Duolingo Plus",Daily,Employed full-time,Male,I'm very committed to learning this language.,I am using Duolingo to review a language I've ...,...,Advanced,Not currently a student,True,0.731183,True,False,0.352917,False,0.937500,0.572682
35c9fdde72c911e98630dca9049399ef,18-34,"$26,000 - $75,000",JP,iPhone or iPad,"No, I have never paid for Duolingo Plus",Weekly,Employed full-time,Male,I'm slightly committed to learning this language.,I am using Duolingo to review a language I've ...,...,Intermediate,Not currently a student,True,0.150538,True,False,0.051250,True,0.552083,0.528509
35c9feb072c911e9ab4cdca9049399ef,18-34,"$76,000 - $150,000",JP,iPhone or iPad,"Yes, I currently pay for Duolingo Plus",Daily,Employed full-time,Male,I'm moderately committed to learning this lang...,I am using Duolingo to review a language I've ...,...,Beginner,Not currently a student,True,0.225806,False,True,0.198750,False,0.302083,0.526409
35c9ff7072c911e9900ddca9049399ef,18-34,"$76,000 - $150,000",JP,iPhone or iPad,"No, but I have previously paid for Duolingo Plus",Daily,Employed full-time,Female,I'm very committed to learning this language.,I am using Duolingo to learn this language for...,...,Intermediate,Not currently a student,True,0.225806,False,True,0.047917,True,0.958333,0.737771
35ca002672c911e99effdca9049399ef,35 - 54,"$76,000 - $150,000",JP,Android phone or tablet,"Yes, I currently pay for Duolingo Plus",Daily,Employed full-time,Male,I'm very committed to learning this language.,I am using Duolingo to learn this language for...,...,Intermediate,Not currently a student,True,0.795699,False,True,0.812083,False,0.875000,0.571862

In [36]:
df_norm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4641 entries, 35c9fc6e72c911e99681dca9049399ef to 35cf7a1772c911e9b029dca9049399ef
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           4641 non-null   category
 1   annual_income                 4641 non-null   category
 2   country                       4641 non-null   category
 3   duolingo_platform             4641 non-null   category
 4   duolingo_subscriber           4641 non-null   category
 5   duolingo_usage                4641 non-null   category
 6   employment_status             4641 non-null   category
 7   gender                        4641 non-null   category
 8   primary_language_commitment   4641 non-null   category
 9   primary_language_review       4641 non-null   category
 10  primary_language_motivation   4641 non-null   category
 11  primary_language_proficiency  4641 non-null   category
 12  student                       4641 non-null   category
 13  used_other_resources          4641 non-null   bool
 14  highest_course_progress       4641 non-null   float64
 15  took_placement_test           4641 non-null   bool
 16  purchased_subscription        4641 non-null   bool
 17  n_days_on_platform            4641 non-null   float64
 18  has_daily_goal                4641 non-null   object
 19  pct_days_active               4641 non-null   float64
 20  log_lessons_per_day           4641 non-null   float64
dtypes: bool(3), category(13), float64(4), object(1)
memory usage: 293.1+ KB

In [37]:
kproto = KPrototypes(n_clusters=3, init='Cao')
clusters = kproto.fit_predict(df_norm, categorical=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,15,16,18])

In [38]:
clusters

array([1, 1, 2, ..., 0, 2, 1], dtype=uint16)

In [41]:
labels = pd.DataFrame(clusters)

In [42]:
labeledUsers = pd.concat((customers,labels),axis=1)

   0
0  1
1  1
2  2
3  1
4  1